<form method="post">
    {% csrf_token %}
    <input type="text" name="nombre" placeholder="Nombre" required><br>
    <input type="text" name="telefono" placeholder="Teléfono" required><br>
    <input type="email" name="email" placeholder="Correo" required><br>
    
    <label for="cancha_id">Cancha:</label>
    <select name="cancha_id" required>
      {% for cancha in canchas %}
        <option value="{{ cancha.id }}">{{ cancha.nombre }}</option>
      {% endfor %}
    </select><br>
  
    <input type="date" name="fecha" required><br>
    <input type="time" name="hora_inicio" required><br>
    <input type="time" name="hora_fin" required><br>

    <button type="submit">Reservar</button>
</form>
