<form method="POST">
    {% csrf_token %}
    <input type="hidden" id="cancha_id" name="cancha_id" value="{{ court_id }}">
    <input type="hidden" id="poli_id" name="polideportivo_id" value="{{ polideportivo_id }}">
    <input type="hidden" id="fechaReserva" name="fecha">

    <label>Nombre: <input type="text" name="nombre" required></label><br>
    <label>Teléfono: <input type="text" name="telefono" required></label><br>
    <label>Email: <input type="email" name="email" required></label><br>
    <button type="submit">Reservar</button>
</form>
